{% extends "base.html" %}

{% block title %}Special Requests{% endblock %}

{% block Navbar %}
  <a class="navbar-brand" href="../index.php">Hall Literature</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>          
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Add Publisher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#exampleModal1" data-toggle="modal" data-target="#exampleModal1">Reset Received</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="initialisms/">Initialisms</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block navlinks %}
<li class="nav-item">
  <a class="nav-link" href="../count.php">Count</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="../request.php">Request</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="../receive.php">Receive</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://chat.whatsapp.com/DWntUsBWnFE9nWOwIL5T6j">WhatsApp Group</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="../special-request/">Special Request</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.evernote.com/l/AAY-X8qq8BBKYrJYQpqgNGgAAaoTKTG_GT4">Reminders</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="../s-28.php">S-28</a>
</li>
{% endblock %}

{% block content %}
<!-- Modal: Add Special Request -->
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Special Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="post.php" method="POST">
          <input type="hidden" name="filter" value="{{ statusFilter }}">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon2" name="name" value="">
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Title</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon2" name="item" value="">
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Symbol</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" name="itemCode" value="">
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon4">Quantity</span>
            </div>
            <input type="number" class="form-control" aria-describedby="basic-addon4" name="quantity" value="1">
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon5">Language</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon5" name="language" value="">
          </div>
          <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="2" placeholder="Add a note" name="note" value=""></textarea>
      </div>
      <div class="modal-footer">
          <input class="btn btn-outline-primary" type="submit" name="addRequest" value="Save">
        </form>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Nav: block, street and filter -->  
<ul class="nav">
  <li class="nav-item">
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if statusFilter %}
           {{ statusFilter|capitalize }}
        {% else %}
           Submitted
        {% endif %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?filter=all">
          All
        </a>
        <a class="dropdown-item" href="?filter=requested">
          Requested
        </a>
        <a class="dropdown-item" href="?filter=submitted">
          Submitted
        </a>
        <a class="dropdown-item" href="?filter=pending">
          Pending
        </a>
        <a class="dropdown-item" href="?filter=received">
          Received
        </a>
        <a class="dropdown-item" href="?filter=handed-out">
          Handed Out
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-secondary" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
      Add Request
    </a>
  </li>
</ul>

{% if msg %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
    {{ msg }}
  </div>
{% endif %}

<ul class="list-group">
  {% for specialRequest in specialRequests %}
    <li class="list-group-item">
      <h6>{{ specialRequest.name }}</h6>
      <div class="row">
        <div class="col-8">
          {{ specialRequest.item }} <span class="badge badge-light">{{ specialRequest.itemCode }} </span> <span class="badge badge-pill badge-dark">{{ specialRequest.quantity }}</span>
          {% if specialRequest.language %}
            <br><span class="badge badge-warning">{{ specialRequest.language }}</span>
          {% endif %}
          {% if specialRequest.note %}
            <br><small>{{ specialRequest.note }}</small>
          {% endif %}
        </div>
        <div class="col-4" id="status-{{ specialRequest.id }}">
          {% if specialRequest.status == 'handed out' %}
            <i>{{ specialRequest.status }}</i>
          {% else %}
          <form ic-post-to="post.php" ic-target="#status-{{ specialRequest.id }}">
            <input type="hidden" name="id" value="{{ specialRequest.id }}">
            <input class="btn btn-outline-primary btn-sm" type="submit" name="handedOut" value="Handed Out">
          </form>
          {% endif %}
        </div>
      </div>
      <ul class="list-unstyled">
      {% for status in specialRequest.statusHistory %}
        <li class="text-muted">
          <small><i>{{ status.status }} {{ status.date|date ("j M Y") }}</i></small>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>



{% endblock %}

