{% extends "base.html" %}

{% block title %}Monthly Inventory{% endblock %}

{% block content %}
  <div id="alert" class="alert alert-winfo alert-dismissible fade show" role="alert"></div>
  {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Whoops!</strong> {{ msg }}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% elseif publications %}
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cupboard {{ cupboardLocation }}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?cupboard=1">
          Cupboard 1
        </a>
        <a class="dropdown-item" href="?cupboard=2">
          Cupboard 2
        </a>
        <a class="dropdown-item" href="?cupboard=3">
          Cupboard 3
        </a>
        <a class="dropdown-item" href="?cupboard=4">
          Cupboard 4
        </a>
        <a class="dropdown-item" href="?cupboard=5">
          Cupboard 5
        </a>
        <a class="dropdown-item" href="?cupboard=6">
          Cupboard 6
        </a>
      </div>
    </div>

     <ul class="list-group">
      {% for publication in publications %}
      <li class="list-group-item">
        <div class="clearfix">    
          {% block movementHistory %}
          <div class="float-left">
            <a data-toggle="collapse" href="#collapse-{{ publication.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ publication.id }}"ic-get-from="monthlyMovementHistory.php?id={{ publication.id }}" ic-target="#monthlyMovements-{{ publication.id }}">
          {% endblock %}
              {{ publication.publicationTitle }}
            </a><span class="badge badge-light"> {{ publication.publicationCode }}</span>
            <br><small class="text-muted">{{ publication.inventoryNote }}</small>   
          </div>
          <div class="float-right" id="requested-{{ publication.id }}">
           {{ publication.onHandEnd }}
          </div>      
        </div>

          <div class="collapse" id="collapse-{{ publication.id }}">
            <div>
               <form id="form-{{ publication.id }}" ic-post-to="update-inventory.php" ic-target="#requested-{{ publication.id }}">
                <div class="input-group my-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">On Hand</span>
                  </div>
                  <input type="hidden" name="id" value="{{ publication.id }}">
                  <input type="text" class="form-control text-right" name="onHandEnd" value="{{ publication.onHandEnd }}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
            
    
        </li>
      {% endfor %}
    </ul>

  {% else %}
      <ul class="list-group">       
        <li class="list-group-item">
          <a href="?cupboard=1">
          Cupboard 1
          </a>
        </li>
        <li class="list-group-item">
          <a href="?cupboard=2">
          Cupboard 2
          </a>
        </li>
        <li class="list-group-item">
          <a href="?cupboard=3">
          Cupboard 3
          </a>
        </li>
        <li class="list-group-item">
          <a href="?cupboard=4">
          Cupboard 4
          </a>
        </li>
        <li class="list-group-item">
          <a href="?cupboard=5">
          Cupboard 5
          </a>
        </li>
        <li class="list-group-item">
          <a href="?cupboard=6">
          Cupboard 6
          </a>
        </li>
      </ul>

      <form class="m-4" ic-post-to="submitInventoryReport.php" ic-confirm="Are you sure?" ic-target="#alert">
      <!--<form action="submitInventoryReport.php" method="POST">-->
        <input class="btn btn-primary btn-block" type="submit" name="submitInventoryReport" value="Submit Monthly Inventory">
      </form>  
  {% endif %}

{% endblock %}