{% extends "base.html" %}

{% block title %}Monthly Inventory{% endblock %}

{% block Navbar %}
  <a class="navbar-brand" href="index.php">Inventory</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>          
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Whoops!</strong> {{ msg }}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% elseif cupboard %}
      <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Cupboard {{ cupboard }}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?cupboard=1">
          Cupboard 1
        </a>
        <a class="dropdown-item" href="?cupboard=2">
          Cupboard 2
        </a>
        <a class="dropdown-item" href="?cupboard=3">
          Cupboard 3
        </a>
        <a class="dropdown-item" href="?cupboard=4">
          Cupboard 4
        </a>
        <a class="dropdown-item" href="?cupboard=5">
          Cupboard 5
        </a>
        <a class="dropdown-item" href="?cupboard=6">
          Cupboard 6
        </a>
        <a class="dropdown-item" href="?cupboard=7">
          Cupboard 7
        </a>
        </div>
    </div>

    <ul class="list-group">
      {% for publication in publications %}
        <li class="list-group-item">
          <a data-toggle="collapse" href="#collapse-{{ publication.recID }}" role="button" aria-expanded="false" aria-controls="collapse-{{ publication.recID }}">
          {{ publication.title }} 
          </a>
          <div class="float-right">
            {{ publication.onHandEnd }}
          </div>
          <div class="collapse" id="collapse-{{ publication.recID }}">

            <form action="updatePublication.php" method="POST">
              <input type="hidden" name="recID" value="{{ publication.recID }}">
              <input type="hidden" name="cupboard" value="{{ cupboard }}">
              <div class="container">
                <div class="form-row">
                  <div class="col-7">
                    <label class="align-middle" for="OnHand">On Hand</label>
                  </div>
                  <div class="col">
                    <input type="number" name="onHand" class="form-control" value="{{ publication.onHandEnd }}">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-7">
                    <label class="align-middle" for="OrderMore">Order More</label>
                  </div>
                  <div class="col">
                    <input type="number" name="orderMore" class="form-control" value="{{ publication.orderMore }}">
                  </div>
                </div>
                <div class="form-row">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>

            <p><span class="badge badge-light">{{ publication.symbol }} </span><small class="text-muted">{{ publication.note }}</small></p>

           <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button onclick="monthlyMovements({{ publication.recID }}, 'monthlyMovements-{{ publication.recID }}')" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ publication.recID }}" aria-expanded="true" aria-controls="collapseOne">
                    Monthly Movements
                  </button>
                </h5>
              </div>

              <div id="collapse{{ publication.recID }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" id="monthlyMovements-{{ publication.recID}}">
                </div>
              </div>
          </div>

         

          </div>
        </li>
      {% endfor %}
    </ul>

    {% else %}
      <ul class="list-group">
        <li class="list-group-item">
          <a href="?cupboard=1">
          Cupboard 1
        </a>
           </ul>
           <li class="list-group-item">
        <a href="?cupboard=2">
          Cupboard 2
        </a>
           </ul>
           <li class="list-group-item">
        <a href="?cupboard=3">
          Cupboard 3
        </a>
           </ul>
           <li class="list-group-item">
        <a href="?cupboard=4">
          Cupboard 4
        </a>
        <li class="list-group-item">
           </ul>
        <a href="?cupboard=5">
          Cupboard 5
        </a>
        <li class="list-group-item">
           </ul>
        <a href="?cupboard=6">
          Cupboard 6
        </a>
        <li class="list-group-item">
           </ul>
        <a href="?cupboard=7">
          Cupboard 7
        </a>
        </li>
    </ul>
      {% endif %}

<script>
function monthlyMovements(recID, divID1) {
//    alert("hello world!");
//    alert(recID + " " + divID1);
      
    $.get("monthlyMovementHistory.php",
        {
          recID: recID,
        },
        function(data,status){
            var e1 = (data);
//            alert(e1);
            document.getElementById(divID1).innerHTML = e1;
        });
}
</script>

{% endblock %}

