{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
  <!-- Error message -->
  {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Whoops!</strong> {{ msg }}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  
  
  {% elseif publicationType %}
    <!-- Dropdown nav -->
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ publicationType }}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for pubType in publicationTypes %}
        <a class="dropdown-item" href="?publicationType={{ pubType }}">
          {{ pubType }}
        </a>
        {% endfor %}
        </div>
    </div>

    <!-- List of items -->
    <ul class="list-group">
      {% for publication in publications %}
      <li class="list-group-item">
        <div class="clearfix">
          <div class="float-left">
            <a data-toggle="collapse" href="#collapse-{{ publication.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ publication.id }}" ic-get-from="monthlyMovementHistory.php?id={{ publication.id }}" ic-target="#monthlyMovements-{{ publication.id }}">
              {{ publication.publicationTitle }}
            </a><span class="badge badge-light"> {{ publication.publicationCode }}</span>
            <br><small class="text-muted">{{ publication.inventoryNote }}</small>   
          </div>
          <div class="float-right" id="requested-{{ publication.recID }}">
            {% if publication.requested %}
              <span class="badge badge-pill badge-secondary">{{ publication.requested }}</span>
            {% endif %}
            {% block onHand %}{{ publication.onHand }}{% endblock %}
          </div>
        </div>

        <!-- collapse with add request amd movement history -->
        <div class="collapse" id="collapse-{{ publication.id }}">

          <!-- card: Add request -->
          <div class="card mt-3">
            <div class="card-body">
              <div id="alert-{{ publication.id }}"></div>
              <h5 class="card-title">Add Request</h5>
              <form ic-post-to="update-proposed.php" ic-target="#alert-{{ publication.id }}">
                <input type="hidden" name="id" value="{{ publication.id }}">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="Quantity" name="proposed" value="">
                  <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" name="add-request" value="Add Request">
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- movement history -->
          <div class="mt-3" id="monthlyMovements-{{ publication.id }}">
          </div>

        <div>
      </li>
      {% endfor %}
    </ul>
  
  {% else %}
    <ul class="list-group">
        {% for pubType in publicationTypes %}
        <li class="list-group-item">
          <a href="?publicationType={{ pubType }}">
            {{ pubType }}
          </a>
        </li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
