{% extends "base.html" %}

{% block title %}Receive Literature{% endblock %}

{% block content %}
  {% if msg%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">{{ msg }}</div>
  {% endif %}
  <div class="container">
    <h5 class="my-3">Receive Literature</h5>
  </div>  
    <ul class="list-group">
      {% for publication in publications %}
      <li class="list-group-item">
        <a data-toggle="collapse" href="#revert-{{ publication.symbol }}" role="button" aria-expanded="false" aria-controls="revert-{{ publication.symbol }}">
          {{ publication.title }}
        </a><span class="badge badge-light">{{ publication.symbol }}</span>
        <div class="float-right" id="shipped-{{ publication.recID }}">{{ publication.shipped }}</div>
        <div class="collapse" id="revert-{{ publication.symbol }}">
          <small>Ordered <span class="badge badge-warning">{{ publication.requested }}</span></small>
          
          <form id="form-{{ publication.recID }}" ic-post-to="update-received.php" ic-target="#shipped-{{ publication.recID }}">
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Received</span>
              </div>
              <input type="hidden" name="recID" value="{{ publication.recID }}">
                <input type="text" class="form-control" name="shipped" value="{{ publication.shipped }}" style="text-align:right">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

